/*General*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
/*Navbar*/
.menu {
    position: relative;
    display: flex;
    justify-content: flex-end;
    border-bottom: 2px solid rgba(210, 210, 210, 0.25);
}
.menul {
    display: flex;
}
.menul li {
    margin: 15px;
    display: flex;
    align-items: center;
}
a {
    color: black;
}
.fakebutton {
    background-color: #e78c5b;
    padding: 10px 20px;
    align-items: center;
}
.button a {
    color: white;
}
/*Burger menu*/
.container-burger-menu,
.button-burger-menu,
.container-burger-menu,
.close-burger-menu {
    display: none;
}

.content-menu div{
    position: relative;
    top: 0;
    right: 0;
}
/*Mediaqueries*/
@media only screen and (max-width: 768px) {
    .button-burger-menu {
        display: flex;
        width: 30px;
        margin: 15px;
    }
    .close-burger-menu {
        height: 40px;
        margin: 10px;
    }
    .show-menu{
        display: block;
        line-height: 70px;
        background-color: darkslateblue;
        color: white;
        text-decoration: underline;
    }
    .menul {
        display: none;
    }
}
/*Displaycross*/
.display-none {
    display: none;
}

.display-block {
    display: block;
}